@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    /* --gradient: #fdab04; */

    --background: 43 63.699999999999996% 100%;
    --foreground: 43 9.8% 7.55%;
    --muted: 43 49% 15.3%;
    --muted-foreground: 43 9.8% 55.1%;
    --popover: 43 45.4% 6.63%;
    --popover-foreground: 43 9.8% 97.55%;
    --card: 43 45.4% 6.63%;
    --card-foreground: 43 9.8% 97.55%;
    --border: 43 49% 15.3%;
    --input: 43 49% 15.3%;
    --primary: 43 98% 51%;
    --primary-foreground: 43 9.8% 5.1%;
    --secondary: 43 49% 15.3%;
    --secondary-foreground: 43 9.8% 97.55%;
    --accent: 43 49% 15.3%;
    --accent-foreground: 43 9.8% 97.55%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 43 9.8% 97.55%;
    --ring: 43 98% 51%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 35.5 91.7% 32.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.cl-formButtonPrimary {
  @apply bg-brand text-black;
}

.cl-formButtonPrimary:hover {
  @apply bg-brand/80 text-black;
}
